# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat

# Go specific
gensokyo.exe
gsk.exe
mcp.exe

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/
reference/nonebot-bridge/.venv/
reference/nonebot-bridge/__pycache__/
reference/nonebot-bridge/.pytest_cache/
